<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FCC-Timeserver</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <h1 class="hero">TimeServer</h1>

    <p>Timeserver allows you to get the time in unix and natural time.
        It returns unix time when the user passes a natural date</p>

    <pre><code>/GET /time/122434343
{
"natural":"January 18, 2015"
"unix:"122434343"
}
</code></pre>

    <pre><code>/GET /time/January 18, 2015
{
"natural":"January 18, 2015"
"unix:"122434343"
}
</code></pre>

</div>

</body>
</html>